@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');
*{
    margin: vp0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Oswald", sans-serif;
}

body{
     min-height: 100vh;
     background-color: black;
     color: white;

     }

*{
     .cards{
     display:  flex;
     hesight:  100vh;
     gap:  2px;

      }

.cards-1 {
      background: linear-gradient( rgba(0,0,0). black), url(Изображение WhatsApp 2025-09-26 в 15.54.37_eb854770.jpg);
      }



.cards-2 {
      background: linear-gradient ( black, black), url(Изображение WhatsApp 2025-09-26 в 15.54.55_6cc3a089.jpg);
      }

     
    .cards-3 {
      background:  linear-gradient( black, black) , url(Изображение WhatsApp 2025-09-26 в 15.55.10_23ed82ac.jpg);
     }

.cards-4 {
      background:   linear-gradient( black, black) , url(Изображение WhatsApp 2025-09-26 в 15.55.24_cd692566.jpg);
      }

      .card {
     padding: 400px;
   display: flex;
   flex-direction: column;
   justify-content:  end;
   flex:  1;
   gap:  16px;
   background-size: cover;
   background-position:  center;
     }

     h4{
        font-size: 12px;
        text-transform: capitalize;
}
